.about_banner_1_title {
    line-height: normal;
    vertical-align: baseline;
    letter-spacing: -1.626px;
    color: #3B3A3A;
}

.about_banner_1_text {
    font-size: 23.8px;
    line-height: 33.32px;
    vertical-align: baseline;
    letter-spacing: -0.476px;
    color: #3B3A3A;
}

.about_para {
    line-height: 24.832px;
    color: #3B3A3A;
}
