<html>
    <head>
        <title>SuperHomes</title>
        <style type="text/css">
            img
            {
                object-fit: cover;
                width: 250px;
                height: auto;
                margin:64px auto;
                display: block;
                
            }
            *
            {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <img src="/images/building.png"/>
        <span>We'll be right back. This site is under construction.</span>
    </body>
</html>