.brand-grid img
{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
/* .temp
{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}
.temp img
{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
@media screen and (max-width:1200px)
{
    .temp
    {
        display: grid !important;
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        grid-gap: 10px;
        justify-content: unset;
    }  
    .temp img 
    {
        width: 100px;
    } 
} */